 .u-section-1 {
  background-image: url("images/fondo.webp");
}

.u-section-1 .u-sheet-1 {
  min-height: 887px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 55px auto -215px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 92px -15px 0 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 40px -15px 0 15px;
}

.u-section-1 .u-text-3 {
  margin: 40px -15px 0 15px;
}

.u-section-1 .u-text-4 {
  margin: 40px -15px 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-image-1 {
  width: 258px;
  height: 258px;
  margin: 234px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 958px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 719px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 453px;
  }
}